.container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.brand-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  aspect-ratio: 1/1;
}

body {
  margin: 0;
  display: grid;
  background-color: #bdbbb6;
}

img {
  max-width: 600px;
  height: auto;
}

a {
  margin: 0;
  text-align: center;
  text-decoration: none;
}

/* For medium screens */
@media (max-width: 1024px) {
  .brand-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For small screens */
@media (max-width: 1193px) {
  .brand-container {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
}

/* For medium screens */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For small screens */
@media (max-width: 1193px) {
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
}
